---
import { home_texts, SITE_CREATOR } from "../config";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">{home_texts.greeting}</div>
    <div class="text-5xl font-bold">{home_texts.intro} {SITE_CREATOR}</div>
    <div class="text-3xl py-3 font-bold">{home_texts.role}</div>
    <div class="py-2">
      <span class="text-lg">
        {home_texts.description}
      </span>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://www.linkedin.com/in/alessandro-incantalupo" target="_blank">{home_texts.connect}</a>
      <a href="mailto:alessandro.incantalupo@gmail.com" referrerpolicy="no-referrer-when-downgrade"
         target="_blank" class="btn btn-outline ml-5">
        {home_texts.message}
      </a>
    </div>
  </div>
</BaseLayout>