---
import BaseLayout from "../layouts/BaseLayout.astro";

// import {getCollection} from "astro:content";
import {SITE_CREATOR} from "../config";
// const projects = await getCollection("projects");
---


<BaseLayout sideBarActiveItemID="home">

    <div class="pb-12 mt-5">
        <div class="text-xl py-1">Hello there</div>
        <div class="text-5xl font-bold">I'm {SITE_CREATOR}</div>
        <div class="text-3xl py-3 font-bold">Software Engineer at Accenture</div>
        <div class="py-2">
            <text class="text-lg">
                I'm a software engineer based in Italy, passionate about web technologies, open source and design. I'm
                currently using Angular 15 in a very big project, learning Angular 17 and Astro as well.
                I'm also studying Mathematics at University of Pavia and looking for challenges wherever and whenever.
            </text>
        </div>
        <div class="mt-8">
            <a class="btn" href="https://www.linkedin.com/in/alessandro-incantalupo" target="_blank"> Let's connect!</a>
            <!--<a href="/contacts" target="" class="btn btn-outline ml-5">-->
            <!--    Send me a message-->
            <!--</a>-->
            <a href="mailto:alessandro.incantalupo@gmail.com" referrerpolicy="no-referrer-when-downgrade"
               target="_blank" class="btn btn-outline ml-5">
                Send me a message
            </a>

        </div>

    </div>


    <!--<div>-->
    <!--    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>-->
    <!--</div>-->

    <!--{projects.map(project => (-->
    <!--        <div>-->
    <!--            <HorizontalCard-->
    <!--                    title={project.data.title}-->
    <!--                    img={project.data.img}-->
    <!--                    desc={project.data.desc}-->
    <!--                    url={project.data.url}-->
    <!--                    badge={project.data.badge}-->
    <!--            />-->
    <!--            <div class="divider my-0"></div>-->
    <!--        </div>-->
    <!--))}-->
</BaseLayout>



